<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /project-magang/
    
    # Menghilangkan slash di akhir URL
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ $1 [L,R=301]
    
    # Jika file atau direktori tidak ada, teruskan ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Jika mod_rewrite tidak tersedia
    ErrorDocument 404 /index.php
</IfModule>